[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
keras = "*"
numpy = "*"
cython = "*"
matplotlib = "*"
sgf = "*"
h5py = "*"
pygtp = "*"

[requires]
python_version = "3.7"
